  <%- include('includes/head') %>
  <%- include('includes/nav') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-2">
        <h1 class="display-3 text-center">Agenda</h1>

        <div class="row">
          <div class="col">
            <div class="alert alert-danger">Teste erro</div>
          </div>
        </div>

        <table class="table">
            <thead class="bg-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Julius Erving</td>
                <td>61950–0069</td>
                <td>julius76@email.com</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Earl Manigault</td>
                <td>71944-1998</td>
                <td>manigault@email.com</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Hakeem Olajuwon</td>
                <td>11963-0056</td>
                <td>olajuwon@email.com</td>
              </tr>

            </tbody>
          </table>

      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>

  <%- include('includes/footer') %>